h1, h2, h3, h4, a, p, ul, li, input {
  font-family: $font;
}

h2 {
  font-weight: bold;
  font-size: 3.5rem;
  
}
h3 {
  font-size: 1.8rem;
}

p {
  font-weight: 400;
  font-size: 1.5rem;
}
a {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}




//buttons
.btn--outline {
  border: 1px solid $color-grn;
  padding: 1rem 1.25rem;
  color: white;
  transition: 400ms ease-in;

  &:hover {
    background: $color-grn;
    color: #000;
  }
}
.btn--blk {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 1.4rem;
  border: 1px solid $color-grn;
  padding: 1.125rem 2rem;
  transition: 400ms ease-in;

  &:hover {
    background: $color-grn;
  }

}
button {
  font-family: $font;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: none;
  color: white;
  border: 1px solid $color-grn;
  width: 15rem;
  padding: 1rem;
  text-align: center;
  margin: 4rem 0 2rem;
  transition: 400ms ease-in;
  cursor: pointer;

  &:hover {
    background: $color-grn;
    color: #000;
  }
}