$font: 'Helvetica', sans-serif;

$color-grn: #00FFD1;
$color-bg--grey: #f4f4f4;

$screen-minSmall: 320px; 
$screen-subMobile: 350px;
$screen-mobile: 375px;
$screen-largeMobile: 425px;
$screen-subSmall: 540px;
$screen-small: 600px;
$screen-tablet: 768px;
$screen-regular: 992px;
$screen-desktop: 1024px;
$screen-wide: 1200px;
$screen-fullDesktop: 1440px;