.hero--container {
  .hero--inner {
    position: relative;
    height: 100vh;
    .hero--bg {
      background-size: cover!important;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    .hero--content {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .hc--center {
        padding: 0 2rem;
      }
      svg {
        width: 100%;
      }
      .subtitle {
        margin: 4rem 0 1rem;
        p {
          color: #fff;
          font-size: 2.5rem;
          letter-spacing: 0.15rem;
          text-align: center;

        }
      }
      .hc--btns {
        position: absolute;
        bottom: 13vh;
        a {

          margin: 0 0.5rem;
          text-transform: uppercase;
          font-size: 1.4rem;
          letter-spacing: 0.15rem;
          padding: 1.125rem 2rem;
        }
      }
      .arrow--down {
        position: absolute;
        bottom: -7rem;
      }
    }
  }
}

// intro overlay
.intro {
  // background: url('../../assets/img/intro.jpg');
  // background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 100;
  opacity: 1;
  &.entered {
    z-index: -10;
  }
  video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
  .intro--inner {
    position: absolute;
    display: flex;
    align-items: center;
    width: auto;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}